<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="pbr-user-info-heading" jhiTranslate="openpbrApp.userInfo.home.createOrEditLabel">Create or edit a User Info</h2>
            <div>
                <pbr-alert-error></pbr-alert-error>
                <div class="form-group" [hidden]="!userInfo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userInfo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.uid" for="field_uid">Uid</label>
                    <input type="text" class="form-control" name="uid" id="field_uid"
                        [(ngModel)]="userInfo.uid" required minlength="11" maxlength="11"/>
                    <div [hidden]="!(editForm.controls.uid?.dirty && editForm.controls.uid?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.uid?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.uid?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 11 }">
                        This field is required to be at least 11 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.uid?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 11 }">
                        This field cannot be longer than 11 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="userInfo.code" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="userInfo.lastName" maxlength="160"/>
                    <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 160 }">
                        This field cannot be longer than 160 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="userInfo.firstName" maxlength="160"/>
                    <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.firstName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 160 }">
                        This field cannot be longer than 160 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="userInfo.email" maxlength="160"/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 160 }">
                        This field cannot be longer than 160 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                        [(ngModel)]="userInfo.phoneNumber" maxlength="80"/>
                    <div [hidden]="!(editForm.controls.phoneNumber?.dirty && editForm.controls.phoneNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.phoneNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.jobTitle" for="field_jobTitle">Job Title</label>
                    <input type="text" class="form-control" name="jobTitle" id="field_jobTitle"
                        [(ngModel)]="userInfo.jobTitle" maxlength="160"/>
                    <div [hidden]="!(editForm.controls.jobTitle?.dirty && editForm.controls.jobTitle?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.jobTitle?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 160 }">
                        This field cannot be longer than 160 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.introduction" for="field_introduction">Introduction</label>
                    <input type="text" class="form-control" name="introduction" id="field_introduction"
                        [(ngModel)]="userInfo.introduction" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" [(ngModel)]="userInfo.gender" id="field_gender" >
                        <option value="FEMALE">{{'openpbrApp.Gender.FEMALE' | translate}}</option>
                        <option value="MALE">{{'openpbrApp.Gender.MALE' | translate}}</option>
                        <option value="OTHERS">{{'openpbrApp.Gender.OTHERS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.birthDay" for="field_birthDay">Birth Day</label>
                    <div class="input-group">
                        <input id="field_birthDay" type="text" class="form-control" name="birthDay" ngbDatepicker  #birthDayDp="ngbDatepicker" [(ngModel)]="userInfo.birthDay"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDayDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.nationality" for="field_nationality">Nationality</label>
                    <input type="text" class="form-control" name="nationality" id="field_nationality"
                        [(ngModel)]="userInfo.nationality" maxlength="160"/>
                    <div [hidden]="!(editForm.controls.nationality?.dirty && editForm.controls.nationality?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nationality?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 160 }">
                        This field cannot be longer than 160 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.employer" for="field_employer">Employer</label>
                    <input type="text" class="form-control" name="employer" id="field_employer"
                        [(ngModel)]="userInfo.employer" maxlength="160"/>
                    <div [hidden]="!(editForm.controls.employer?.dirty && editForm.controls.employer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.employer?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 160 }">
                        This field cannot be longer than 160 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.education" for="field_education">Education</label>
                    <input type="text" class="form-control" name="education" id="field_education"
                        [(ngModel)]="userInfo.education" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.userInfo.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="userInfo.user"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === userInfo.user?.id ? userInfo.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
