<div>
    <h2>
        <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>
    </h2>
    <pbr-add-button [routerLink]="['./new']"></pbr-add-button>
    <pbr-alert></pbr-alert>
    <div class="table-responsive" *ngIf="users">
        <table class="table">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                <th jhiSortBy="login"><span jhiTranslate="userManagement.login">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="email"><span jhiTranslate="userManagement.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="langKey"> <span jhiTranslate="userManagement.langKey">Lang Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createdDate"><span jhiTranslate="userManagement.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="lastModifiedBy"><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="lastModifiedDate"><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngIf ="users">
            <tr *ngFor="let user of users; trackBy: trackIdentity" >
                <td><a [routerLink]="['./', user.login, 'view']">{{user.login}}</a></td>
                <td >{{user.email}}</td>
                <td>{{user.langKey}}</td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>
                    <span  *ngIf="!user.activated" jhiTranslate="userManagement.deactivated">Deactivated</span>
                    <span *ngIf="user.activated" jhiTranslate="userManagement.activated">Activated</span>
                </td>
                <td class="text-right">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item  (click)="setActive(user, true)" *ngIf="!user.activated" >
                            <mat-icon>lock_open</mat-icon><span jhiTranslate="userManagement.deactivated">Deactivated</span>
                        </button>
                        <button mat-menu-item (click)="setActive(user, false)" *ngIf="user.activated"
                                [disabled]="currentAccount.login === user.login" >
                            <mat-icon>lock</mat-icon><span jhiTranslate="userManagement.activated">Activated</span>
                        </button>
                        <button type="submit" mat-menu-item  [routerLink]="['./', user.login, 'view']">
                            <mat-icon>pageview</mat-icon>
                            <span>View</span>
                        </button>
                        <button type="submit" mat-menu-item [routerLink]="['./', user.login, 'edit']"
                                queryParamsHandling="merge">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="deleteUser(user)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="users">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
