<div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="4px" class="pr-org-unit-filter" >
     <div fxFlex *ngFor="let l of orgUnitLevels"  fxLayout="column" class="mat-elevation-z2 container">
         <mat-label>{{l.name}}</mat-label>
         <mat-list>
             <mat-list-item *ngFor="let ou of orgUnits[l.level]; trackBy: trackOuBy" fxLayout="column" fxLayoutAlign="start centre">
                 <mat-checkbox *ngIf="multiple" [checked]="isSelected(ou)" (change)="toggleOrgUnit(ou);" >&nbsp;</mat-checkbox>
                 <mat-radio-button *ngIf="!multiple" [checked]="isSelected(ou)" (change)="toggleOrgUnit(ou);"></mat-radio-button>
                 <mat-label (click)="getOrgUnits(l.level+1, ou.id)">{{ou.name}}</mat-label>
             </mat-list-item>
         </mat-list>
    </div>
    <div fxFlex="25" class="mat-elevation-z2 container"  fxLayout="column">
        <mat-label style="color:darkorange; font-weight: bold">Selected</mat-label>
        <mat-list>
            <mat-list-item style="color:darkorange; font-weight: bold" *ngFor="let ou of selectedOrgUnits; trackBy: trackOuBy" (dblclick)="toggleOrgUnit(ou)">{{ou.name}}</mat-list-item>
        </mat-list>
    </div>
</div>
