<div>
    <h2 id="page-heading">
        <span jhiTranslate="openpbrApp.orgUnitGroupSet.home.title">Org Unit Group Sets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-org-unit-group-set" [routerLink]="['/org-unit-group-set/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="openpbrApp.orgUnitGroupSet.home.createLabel">
            Create new Org Unit Group Set
            </span>
        </button>
    </h2>
    <pbr-alert></pbr-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'openpbrApp.orgUnitGroupSet.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orgUnitGroupSets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uid"><span jhiTranslate="openpbrApp.orgUnitGroupSet.uid">Uid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="openpbrApp.orgUnitGroupSet.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="openpbrApp.orgUnitGroupSet.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="openpbrApp.orgUnitGroupSet.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sortOrder"><span jhiTranslate="openpbrApp.orgUnitGroupSet.sortOrder">Sort Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span jhiTranslate="openpbrApp.orgUnitGroupSet.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orgUnitGroupSet of orgUnitGroupSets ;trackBy: trackId">
                <td><a [routerLink]="['/org-unit-group-set', orgUnitGroupSet.id, 'view' ]">{{orgUnitGroupSet.id}}</a></td>
                <td>{{orgUnitGroupSet.uid}}</td>
                <td>{{orgUnitGroupSet.code}}</td>
                <td>{{orgUnitGroupSet.name}}</td>
                <td>{{orgUnitGroupSet.description}}</td>
                <td>{{orgUnitGroupSet.sortOrder}}</td>
                <td>{{orgUnitGroupSet.isActive}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/org-unit-group-set', orgUnitGroupSet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/org-unit-group-set', orgUnitGroupSet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'org-unit-group-set', { outlets: { popup: orgUnitGroupSet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="orgUnitGroupSets && orgUnitGroupSets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
