<div fxLayout="column">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="pbr-org-unit-group-set-heading" jhiTranslate="openpbrApp.orgUnitGroupSet.home.createOrEditLabel">Create or edit a Org Unit Group Set</h2>
            <div>
                <pbr-alert-error></pbr-alert-error>
                <div  [hidden]="true">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="orgUnitGroupSet.id" readonly />
                </div>
                <mat-form-field>
                    <input matInput type="text" name="code" id="field_code" placeholder="Code"
                        [(ngModel)]="orgUnitGroupSet.code" maxlength="50"/>
                    <mat-error [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text"  name="name" id="field_name" placeholder="Name"
                        [(ngModel)]="orgUnitGroupSet.name" required maxlength="230"/>
                    <mat-error [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 230 }">
                        This field cannot be longer than 230 characters.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" class="form-control" name="description" id="field_description" placeholder="Description"
                        [(ngModel)]="orgUnitGroupSet.description" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" class="form-control" name="sortOrder" id="field_sortOrder" placeholder="Sort Order"
                        [(ngModel)]="orgUnitGroupSet.sortOrder" />
                </mat-form-field>
                <mat-checkbox name="isActive" id="field_isActive"
                              [(ngModel)]="orgUnitGroupSet.isActive" >Is Active</mat-checkbox>
                <ng-container>
                    <pbr-multselect title="Org Unit Groups" (notify)="onGroupChanged($event)" *ngIf="orgunitgroups" [items]="orgunitgroups" [isObject]="true" [selectedItems]="orgUnitGroupSet.orgUnitGroups"></pbr-multselect>
                </ng-container>
                <ng-container>
                    <pbr-attributes [attrs]="orgUnitGroupSetAttributes" [initialValues]="orgUnitGroupSetInitialAttrValues" (attributeValueOut)="onAttrValueChange($event)"></pbr-attributes>
                </ng-container>
                <!--<div class="form-group">-->
                    <!--<label jhiTranslate="openpbrApp.orgUnitGroupSet.orgUnitGroups" for="field_orgUnitGroups">Org Unit Groups</label>-->
                    <!--<select class="form-control" id="field_orgUnitGroups" multiple name="orgUnitGroups" [(ngModel)]="orgUnitGroupSet.orgUnitGroups" required>-->
                        <!--<option [ngValue]="getSelected(orgUnitGroupSet.orgUnitGroups, orgUnitGroupOption)" *ngFor="let orgUnitGroupOption of orgunitgroups; trackBy: trackOrgUnitGroupById">{{orgUnitGroupOption.name}}</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div [hidden]="!(editForm.controls.orgUnitGroups?.dirty && editForm.controls.orgUnitGroups?.invalid)">-->
                    <!--<small class="form-text text-danger"-->
                        <!--[hidden]="!editForm.controls.orgUnitGroups?.errors?.required" jhiTranslate="entity.validation.required">-->
                        <!--This field is required.-->
                    <!--</small>-->
                <!--</div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
</div>
