<div fxLayout="column">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="pbr-org-unit-group-heading" jhiTranslate="openpbrApp.orgUnitGroup.home.createOrEditLabel">Create or edit a Org Unit Group</h2>
            <div>
                <pbr-alert-error></pbr-alert-error>
                <div  [hidden]="true">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="orgUnitGroup.id" readonly />
                </div>
                <mat-form-field>
                    <input matInput type="text"  name="code" id="field_code" placeholder="Code"
                        [(ngModel)]="orgUnitGroup.code" maxlength="50"/>
                    <mat-error [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" name="name" id="field_name" placeholder="Name"
                        [(ngModel)]="orgUnitGroup.name" required maxlength="230"/>
                    <mat-error [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 230 }">
                        This field cannot be longer than 230 characters.
                        </small>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" name="sortOrder" id="field_sortOrder" placeholder="Sort Order"
                        [(ngModel)]="orgUnitGroup.sortOrder" />
                </mat-form-field>
                <mat-checkbox [(ngModel)]="orgUnitGroup.isActive" name="isActive">
                    <span jhiTranslate="openpbrApp.orgUnitGroup.isActive">Is Active</span>
                </mat-checkbox>
                <pbr-org-unit-filter [initSelection]="orgUnitSelected" (onOrgSelectedChange)="onOrgSelectedChange($event)"></pbr-org-unit-filter>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
</div>
