@import 'bootstrap-variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    //border-left: 5px solid green;
}

.ng-invalid:not(form) {
    //border-left: 5px solid red;
}

.float-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    display: flex;
    align-items: center;

    button {
        background-color: rgb(33, 150, 243) !important;
    }
}

.input-full-width {
    width: 100%;
}

.pbr-multselect {
    select {
        padding: 8px;
        border: none;
        border-radius: 2px;
        min-height: 100px;
        margin-bottom: 8px;
    }
}
.pbr-action-footer {
    margin-top: 20px;

    button {
        text-transform: uppercase;
    }

    button[type='submit'] {
        //background-color: rgb(33, 150, 243) !important;
    }
}
button:focus,
tr:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}
/* other generic styles */

.jh-card {
    padding: 20px 20px !important;
    margin: 20px 10px;
    border: none;

    table {
        tr:hover {
            background: rgba(0, 0, 0, 0.03) !important;
            cursor: pointer !important;
        }
    }
}
.tree-invisible {
    display: none;
}
form {
    mat-form-field,
    mat-radio-group,
    mat-checkbox {
        width: 100% !important;
        padding: 10px 0 !important;
    }
    .pbr-multselect td {
        padding: 10px 0 !important;
    }
}
div.pr-org-unit-filter {
    .container {
        padding: 8px !important;
        mat-list {
            border: 1px solid #ced4da;
            border-radius: 0.15rem;
            max-height: 200px;
            min-height: 200px;
            overflow-y: scroll;
            mat-list-item {
                height: 24px !important;
                cursor: pointer;
                font-size: 14px;
            }
            mat-checkbox {
                width: 21px !important;
                height: 48px !important;
            }
        }
    }
}

div.pbr-tree {
    min-height: 400px;
    max-height: 400px;
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 20px;
    border-radius: 0.15rem;

    button {
        width: auto;
        height: auto;
        line-height: inherit;
    }
    mat-label {
        cursor: pointer;
    }
    mat-label.tree-node-selected {
        font-weight: bold;
        color: orange;
    }

    .mat-tree-node {
        min-height: 0 !important;
        height: 18px !important;
    }
    ul {
        border-left: 1px solid #333;
        margin-left: 10px;
        padding-left: 10px;
    }
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */
