<div>
    <h2 id="page-heading">
        <span jhiTranslate="openpbrApp.optionSet.home.title">Option Sets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-option-set" [routerLink]="['/option-set/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="openpbrApp.optionSet.home.createLabel">
            Create new Option Set
            </span>
        </button>
    </h2>
    <pbr-alert></pbr-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'openpbrApp.optionSet.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="optionSets">
        <table class="table">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uid"><span jhiTranslate="openpbrApp.optionSet.uid">Uid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="openpbrApp.optionSet.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="openpbrApp.optionSet.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valueType"><span jhiTranslate="openpbrApp.optionSet.valueType">Value Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sortOrder"><span jhiTranslate="openpbrApp.optionSet.sortOrder">Sort Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let optionSet of optionSets ;trackBy: trackId" [routerLink]="['/option-set', optionSet.id, 'edit']">
                <td><a [routerLink]="['/option-set', optionSet.id, 'view' ]">{{optionSet.id}}</a></td>
                <td>{{optionSet.uid}}</td>
                <td>{{optionSet.code}}</td>
                <td>{{optionSet.name}}</td>
                <td jhiTranslate="{{'openpbrApp.ValueType.' + optionSet.valueType}}">{{optionSet.valueType}}</td>
                <td>{{optionSet.sortOrder}}</td>
                <td class="text-right">
                    <pbr-action-menu [object]="optionSet" objectName="option-set"></pbr-action-menu>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="optionSets && optionSets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
