<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="pbr-option-set-heading" jhiTranslate="openpbrApp.optionSet.home.createOrEditLabel">Create or edit a Option Set</h2>
            <div>
                <pbr-alert-error></pbr-alert-error>
                <div class="form-group" [hidden]="!optionSet.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="optionSet.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.optionSet.uid" for="field_uid">Uid</label>
                    <input type="text" class="form-control" name="uid" id="field_uid"
                        [(ngModel)]="optionSet.uid" required maxlength="11"/>
                    <div [hidden]="!(editForm.controls.uid?.dirty && editForm.controls.uid?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.uid?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.uid?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 11 }">
                        This field cannot be longer than 11 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.optionSet.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="optionSet.code" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.optionSet.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="optionSet.name" required maxlength="230"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 230 }">
                        This field cannot be longer than 230 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.optionSet.valueType" for="field_valueType">Value Type</label>
                    <select class="form-control" name="valueType" [(ngModel)]="optionSet.valueType" id="field_valueType"  required>
                        <option value="TEXT">{{'openpbrApp.ValueType.TEXT' | translate}}</option>
                        <option value="LONG_TEXT">{{'openpbrApp.ValueType.LONG_TEXT' | translate}}</option>
                        <option value="LETTER">{{'openpbrApp.ValueType.LETTER' | translate}}</option>
                        <option value="PHONE_NUMBER">{{'openpbrApp.ValueType.PHONE_NUMBER' | translate}}</option>
                        <option value="EMAIL">{{'openpbrApp.ValueType.EMAIL' | translate}}</option>
                        <option value="YES_NO">{{'openpbrApp.ValueType.YES_NO' | translate}}</option>
                        <option value="YES_ONLY">{{'openpbrApp.ValueType.YES_ONLY' | translate}}</option>
                        <option value="DATE">{{'openpbrApp.ValueType.DATE' | translate}}</option>
                        <option value="DATE_TIME">{{'openpbrApp.ValueType.DATE_TIME' | translate}}</option>
                        <option value="TIME">{{'openpbrApp.ValueType.TIME' | translate}}</option>
                        <option value="NUMBER">{{'openpbrApp.ValueType.NUMBER' | translate}}</option>
                        <option value="UNIT_INTERVAL">{{'openpbrApp.ValueType.UNIT_INTERVAL' | translate}}</option>
                        <option value="PERCENTAGE">{{'openpbrApp.ValueType.PERCENTAGE' | translate}}</option>
                        <option value="INTEGER">{{'openpbrApp.ValueType.INTEGER' | translate}}</option>
                        <option value="POSITIVE_INTEGER">{{'openpbrApp.ValueType.POSITIVE_INTEGER' | translate}}</option>
                        <option value="NEGATIVE_INTEGER">{{'openpbrApp.ValueType.NEGATIVE_INTEGER' | translate}}</option>
                        <option value="POSITIVE_OR_ZERO_INTEGER">{{'openpbrApp.ValueType.POSITIVE_OR_ZERO_INTEGER' | translate}}</option>
                        <option value="COORDINATE">{{'openpbrApp.ValueType.COORDINATE' | translate}}</option>
                        <option value="URL">{{'openpbrApp.ValueType.URL' | translate}}</option>
                        <option value="FILE">{{'openpbrApp.ValueType.FILE' | translate}}</option>
                        <option value="IMAGE">{{'openpbrApp.ValueType.IMAGE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.valueType?.dirty && editForm.controls.valueType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.valueType?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="openpbrApp.optionSet.sortOrder" for="field_sortOrder">Sort Order</label>
                    <input type="number" class="form-control" name="sortOrder" id="field_sortOrder"
                        [(ngModel)]="optionSet.sortOrder" />
                </div>

                <div [hidden]="!(editForm.controls.optionValues?.dirty && editForm.controls.optionValues?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.optionValues?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
